.storage-list {
  list-style: none;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: inline;
}

.storage-list li {
  display: inline-block;
}

.card {
  width: 300px;
  height: auto;
  margin: 20px;
}

.order-card {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.order-form {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.order-form h1 {
  color: #457b9d !important;
}

.order-form .button {
  width: 200px;
  height: 60px;
}